<script>
  import { i18n } from "./stores/i18n.js"

  import Drawer from "./Drawer.svelte"
  import Roster from "./Roster.svelte"
  import Team from "./Team.svelte"
  import LocaleSwitcher from "./LocaleSwitcher.svelte"

  import {
    collisionIcon,
    footballIcon
  } from "./data/icons"
</script>

<Drawer>
  <div class="font-sans font-light text-yellow-900 flex flex-col gap-6 h-full">

    <!--  Header  -->
    <header class="hero">
      <div class="hero-content flex-col">
        <h1 class="text-3xl lg:text-5xl my-4 flex items-center gap-4">
          <div class="w-8 lg:w-12">{@html footballIcon}</div>
          G.A.B.O.R
          <div class="w-8 lg:w-12">{@html collisionIcon}</div>
        </h1>
        <div class="lg:text-xl text-gray-400"><b>G</b>abor's <b>A</b>nother <b>B</b>loodBowl <b>O</b>nline <b>R</b>oster</div>
      </div>
    </header>

    <!-- Team -->
    <Team />

    <!--  Players  -->
    <div class="flex-grow w-full">
      <Roster />
    </div>

    <!--  Footer  -->
    <footer class="footer p-5 mt-12 text-white bg-yellow-900">
      <div>
        <span class="footer-title">{$i18n.ui.footer.languageTitle}</span>
        <LocaleSwitcher />
      </div>

      <div>
        <span class="footer-title">{$i18n.ui.footer.aboutTitle}</span>
        <div>{@html $i18n.ui.footer.aboutContent}</div>
        <div class="text-xs italic">{@html $i18n.ui.footer.gamesWorkshopLegalMentions}</div>
      </div>
    </footer>

  </div>
</Drawer>
