<script>
  import {
    menuIcon,
    chevronDoubleLeft,
    loginIcon,
    logoutIcon,
    sparklesIcon,
    shareIcon
  } from "./data/icons.js";

  import { i18n } from "./stores/i18n.js"
  import { shareableURL } from "./utils.js"
  import team from "./stores/team.js"

  function toggleDrawer() {
    const checkbox = document.querySelector("#main-drawer")
    checkbox.checked = !checkbox.checked
  }

  function copyUrlToClipboard() {
    navigator.clipboard.writeText(shareableURL(team))
    toggleDrawer()
  }
</script>

<div class="drawer">

  <input id="main-drawer" type="checkbox" class="drawer-toggle">

  <div class="drawer-content">

    <div class="absolute z-50 top-2 left-2">
      <label for="main-drawer" class="btn btn-circle btn-ghost text-yellow-900 bg-white">
        {@html menuIcon}
      </label>
    </div>

    <slot>
      <!-- Page content will be inserted here -->
    </slot>

  </div>

  <div class="drawer-side">

    <label for="main-drawer" class="drawer-overlay bg-yellow-900"></label>

    <ul class="h-full overflow-y-auto menu py-3 w-60 lg:w-80 bg-yellow-900 text-white">

      <li>
        <span class="btn btn-circle btn-ghost mx-2 mb-4">
          <label for="main-drawer" class="cursor-pointer">
            {@html chevronDoubleLeft}
          </label>
        </span>
      </li>

      <li>
        <a on:click={_ => team.reset({ askConfirmation: true }) && toggleDrawer()}>
          {@html sparklesIcon}
          <span class="ml-2">{$i18n.ui.drawer.newTeam}</span>
        </a>
      </li>

      <li class="menu-title">
        <span class="!text-white !text-opacity-30">{$i18n.ui.drawer.browserStorage}</span>
      </li>

      <li>
        <a on:click={_ => team.saveInBrowser({ askConfirmation: true }) && toggleDrawer()}>
          {@html loginIcon}
          <span class="ml-2">{$i18n.ui.drawer.save}</span>
        </a>
      </li>

      <li class:disabled={!team.canLoadFromBrowser}>
        <a on:click={_ => team.loadFromBrowser({ askConfirmation: true }) && toggleDrawer()}>
          {@html logoutIcon}
          <span class="ml-2">{$i18n.ui.drawer.load}</span>
        </a>
      </li>

      <li class="menu-title">
        <span class="!text-white !text-opacity-30">{$i18n.ui.drawer.share}</span>
      </li>

      <li>
        <a on:click={_ => copyUrlToClipboard() }>
          {@html shareIcon}
          <span class="ml-2">{$i18n.ui.drawer.copyUrl}</span>
        </a>
      </li>

    </ul>

  </div>

</div>

<style>
  .menu .menu-title {
    margin-top: 1rem;
  }
</style>
