<script>
  import { currentLocale, availableLocales } from "./stores/i18n.js"
</script>

<select class="select select-bordered border-white bg-transparent" bind:value={$currentLocale}>
  {#each availableLocales as { locale, label }}
    <option value={locale}>{label}</option>
  {/each}
</select>
