<script>
  import { plusIcon, xIcon, banIcon, warningIcon, coinIcon } from "./data/icons.js"

  import { i18n, formatNumber } from "./stores/i18n.js"
  import team from "./stores/team.js"

  import SkillsMenu from "./SkillsMenu.svelte";

  export let player
  export let playerNumber

  const allCharacteristics = ["movement", "strength", "agility", "pass", "armour"]

  $: name = player.name
  $: positionId = player.positionId
  $: additionalSkills = player.additionalSkills
  $: characteristics = player.characteristics
  $: cost = player.cost
  $: defaultSkills = player.defaultSkills

  $: positionAvailabilities = team.positionAvailabilities

  let skillsMenuOpened = false
  const toggleSkillsMenu = () => skillsMenuOpened = !skillsMenuOpened

  $: positionLabel = (position) => $i18n.rosters[player.race].positions[position]
</script>

<div class="flex flex-wrap gap-x-2 gap-y-4 justify-between xl:justify-start items-center">
  <!--  Number  -->
  <div class="order-1 flex-none w-10">
    <div class="rounded-md bg-gray-600 text-gray-200 p-3">
      {playerNumber + 1}
    </div>
  </div>

  <!--  Name  -->
  <div class="order-2 flex-grow xl:flex-grow-0 w-24 lg:w-3/5 xl:w-2/12">
    <input type="text" class="input w-full font-bold" placeholder={$i18n.ui.nameLabel} bind:value={$name}>
  </div>

  <!--  Delete button  -->
  <div class="order-4 md:order-5 xl:order-7 flex-none xl:justify-self-end">
    <button type="button" on:click={_ => team.removePlayer(player)} title={$i18n.ui.removePlayerLabel}
            class="btn btn-ghost px-2 text-red-600 hover:bg-transparent hover:border-red-600"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
    </button>
  </div>

  <!--  Position  -->
  <div class="order-5 md:order-3 xl:order-3 w-full md:w-auto">
    <div class="form-control">
      <select class="select select-bordered" bind:value={$positionId}>
        <option value disabled selected>{$i18n.ui.positionLabel}</option>

        {#each Object.keys($positionAvailabilities) as positionId}
          <option value={positionId} disabled={$positionAvailabilities[positionId] <= 0}>
            {positionLabel(positionId)}
          </option>
        {/each}
      </select>
    </div>
  </div>

  {#if $positionId}

    <!-- Characteristics -->
    <div class="order-6 xl:order-5 w-full md:w-1/2 xl:w-auto md:self-start xl:self-auto relative">
      <div class="grid grid-cols-5 grid-rows-2 xl:grid-rows-1 grid-flow-col xl:grid-flow-row">
        {#each allCharacteristics as characteristic}
          <span class="bg-gray-50 py-3 text-xs font-bold grid-head-row xl:hidden" title={$i18n.characteristics[characteristic].long}>
            {$i18n.characteristics[characteristic].short}
          </span>
          <span class="py-3 xl:py-0 xl:w-8 2xl:w-12">{$characteristics[characteristic]}</span>
        {/each}
      </div>

      {#if playerNumber === 0}
        <!-- Characteristic headers for XL (grid-like) view -->
        <div class="absolute bottom-full">
          <div class="hidden xl:grid grid-cols-5 grid-rows-1 grid-flow-row h-16">
            {#each allCharacteristics as characteristic}
              <span class="xl:w-8 2xl:w-12 text-xs font-bold grid-head-row flex items-center justify-center" title={$i18n.characteristics[characteristic].long}>
                {$i18n.characteristics[characteristic].short}
              </span>
            {/each}
          </div>
        </div>
      {/if}
    </div>

    <!--  Skills  -->
    <div class="order-7 xl:order-6 w-full md:w-auto md:w-5/12 xl:w-1/4 md:flex-grow xl:pl-4 relative">
      <div class="flex justify-start flex-wrap gap-2 max-w-full">
        {#each $defaultSkills as defaultSkill}
          <div class="badge badge-lg text-sm bg-white text-yellow-900 border-yellow-900">
            {$i18n.skills[defaultSkill]}
          </div>
        {/each}
        {#each $additionalSkills as additionalSkill}
          <div class="badge badge-lg text-sm bg-yellow-900 text-yellow-50 border-yellow-900">
            {$i18n.skills[additionalSkill]}
            <button type="button" on:click={_ => player.removeSkill(additionalSkill)} class="ml-2">
              {@html xIcon}
            </button>
          </div>
        {/each}
        <button type="button" on:click={_ => toggleSkillsMenu() }
                class="badge badge-lg badge-outline badge-neutral italic font-light text-sm hover:text-white hover:bg-neutral"
        >
          {#if skillsMenuOpened}
            {@html banIcon}<span class="xl:hidden">{$i18n.ui.cancelLabel}</span>
          {:else}
            {@html plusIcon}<span class="xl:hidden">{$i18n.ui.addSkillLabel}</span>
          {/if}
        </button>
      </div>

      {#if playerNumber === 0}
        <!-- Skills header for XL (grid-like) view -->
        <div class="absolute bottom-full">
          <div class="hidden xl:flex items-center justify-center h-16">
            {$i18n.ui.skillsLabel}
          </div>
        </div>
      {/if}
    </div>

    <!-- Skills menu -->
    <div class="order-8 w-full" class:hidden={!skillsMenuOpened}>
      <span class="flex items-center justify-center py-4 text-red-400 text-sm">
        <span class="flex-shrink-0">{@html warningIcon}</span>
        <span class="px-2">{@html $i18n.ui.notImplementedSkillCostWarning}</span>
        <span class="flex-shrink-0">{@html warningIcon}</span>
      </span>

      <SkillsMenu player={player} onSkillClick={skill => {
        player.addSkill(skill)
        toggleSkillsMenu()
      }}/>
    </div>

    <!--  Cost  -->
    <div class="order-3 md:order-4 xl:order-4 w-auto xl:w-24 sm:px-2 flex xl:items-start">
      <div class="flex items-center flex-nowrap gap-1">
        <div class="w-5">{@html coinIcon}</div>
        {$formatNumber($cost)}
      </div>
    </div>

  {:else}

    <div class="hidden xl:flex xl:flex-grow xl:order-5"></div>

  {/if}
</div>

<style>
  .grid-head-row:nth-child(1) {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
  }
  .grid-head-row:nth-child(9) {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
  }
</style>
