<script>
  import { plusIcon } from "./data/icons.js"

  import { i18n } from "./stores/i18n.js"
  import team from "./stores/team.js"

  import Player from "./Player.svelte"

  $: teamPlayers = team.players
</script>

<main class="text-center px-4">

  <div class="divider">{$i18n.ui.playersTitle}</div>

  <div class="flex flex-col gap-16 xl:gap-y-2 xl:pt-12 max-w-screen-3xl 2xl:mx-auto">

    {#each $teamPlayers as player, playerNumber}
      <Player {player} {playerNumber} />
    {/each}

    <button on:click={_ => team.addPlayer()}
      class="btn btn-outline xl:mt-8 border-dotted hover:bg-yellow-900 hover:border-yellow-900 text-center text-yellow-900"
    >
      {@html plusIcon}&nbsp;{$i18n.ui.addPlayerLabel}
    </button>

  </div>

</main>

<style>
  .max-w-screen-3xl {
    max-width: 2048px;
  }
</style>
