<script>
  import { i18n } from "./stores/i18n.js"
  import { chunkArray } from "./utils.js"

  import rulebookSkills from "./data/rulebook-skills.json"

  export let player
  export let onSkillClick

  $: playerHasSkill = player.hasSkill
  $: playerAvailableSkillCategories = player.availableSkillCategories
  $: categoryCssClass = (category) =>
    $playerAvailableSkillCategories.includes(category) ? "" : "pointer-events-none text-gray-300"
</script>

<ul class="w-full flex gap-6 flex-wrap justify-around">
  {#each Object.keys(rulebookSkills) as category}
    {#each chunkArray(Object.keys(rulebookSkills[category]), 14) as skillChunk, chunkIndex}
      <li>
        <ul class={`flex flex-col items-start flex-wrap ${categoryCssClass(category)}`}>

          <li class="text-xl font-bold">
            {$i18n.skillCategories[category]}
            {#if chunkIndex > 0}
              <span class="font-normal italic">
                ({$i18n.ui.continuedLabel})
              </span>
            {/if}
          </li>

          {#each skillChunk as skill}
            {#if $playerHasSkill(skill)}
              <li class="font-bold">
                {$i18n.skills[skill]}
              </li>
            {:else}
              <li class="cursor-pointer hover:underline" on:click={_ => onSkillClick(skill) }>
                {$i18n.skills[skill]}
              </li>
            {/if}
          {/each}

        </ul>
      </li>
    {/each}
  {/each}
</ul>
