<script>
  import { derived } from "svelte/store"
  import { tweened } from "svelte/motion"

  import rulebookRosters from "./data/rulebook-rosters.js"
  import { coinIcon } from "./data/icons.js"

  import { i18n, formatNumber } from "./stores/i18n.js"
  import team from "./stores/team.js"

  $: name = team.name
  $: coach = team.coach
  $: race = team.race
  $: rerollCount = team.rerollCount
  $: apothecary = team.apothecary
  $: cost = team.cost

  const tweenedCost = tweened(0)
  $: $tweenedCost = $cost

  const availableRaces = derived(i18n, $i18n => Object.keys(rulebookRosters).map(raceId => ({
    id: raceId,
    label: $i18n.rosters[raceId].label
  })))
</script>

<main class="px-4">

  <div class="divider sm:col-span-full">{$i18n.ui.teamTitle}</div>

  <div class="grid gap-2 grid-cols-1 sm:grid-cols-2 lg:max-w-4xl mx-auto">

    <!--  Team Name  -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">{$i18n.ui.teamNameLabel}</span>
      </label>
      <input type="text" class="input input-bordered" bind:value={$name}>
    </div>

    <!--  Coach Name  -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">{$i18n.ui.coachNameLabel}</span>
      </label>
      <input type="text" class="input input-bordered" bind:value={$coach}>
    </div>

    <!--  Race  -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">{$i18n.ui.raceLabel}</span>
      </label>
      <select class="select select-bordered" bind:value={$race}>
        {#each $availableRaces as race}
          <option value={race.id}>{race.label}</option>
        {/each}
      </select>
    </div>

    <div class="grid gap-2 grid-cols-2 gap-2 grid-row-1">

      <!--  Rerolls  -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">{$i18n.ui.rerollsLabel}</span>
        </label>
        <input type="number" min="0" class="input input-bordered" bind:value={$rerollCount}>
      </div>

      <!--  Apothecary  -->
      <div class="form-control items-center">
        <label class="label">
          <span class="label-text">{$i18n.ui.apothecaryLabel}</span>
        </label>
        <div class="h-full flex items-center justify-center">
          <input type="checkbox" class="toggle" bind:checked={$apothecary}>
        </div>
      </div>
    </div>

    <!--  Total Cost  -->
    <div class="form-control sm:col-span-2 flex items-center">
      <label class="label">
        <span class="label-text">{$i18n.ui.totalCostLabel}</span>
      </label>
      <div class="input input-ghost text-xl font-bold text-center flex items-center gap-2">
        <div class="w-6">{@html coinIcon}</div>
        {$formatNumber(Math.round($tweenedCost))}
      </div>
    </div>

  </div>

</main>
